/*Enzelne Bereiche */

.vorschau {
    background-image: url("../img/box2bild2.jpg");
    background-attachment: fixed;
    height: 938px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.uebermich {
    background-color: #343a40;
    color: white;
}

.skills {
    background-image: url("../img/boxbild2.jpg");
    background-attachment: fixed;
}

.vorschau .text {
    margin-top: 400px;
}

.portfolio {
    background-color: #9cb708;
    display: none;
}

.kontakt {
    background-color: #9cb708;
}


/*Footer Bereich */

footer {
    width: 100%;
    height: 150px;
    background-color: black;
}

footer .text1 {
    color: white;
}

footer a,
a:hover,
a:active {
    color: white;
    text-decoration: none;
}

.plattformen {
    color: black;
}

.plattformen a,
a:hover,
a:active {
    color: white;
}

.plattformen ul {
    list-style-type: none;
}

.plattformen li {
    padding-right: 28px;
    list-style: none;
    float: left;
}


/*Navbar Bereich */

.navbar {
    opacity: 0.9;
}

.navbar .nav-item .nav-link {
    opacity: 1.0;
}


/*Navbar Profilbild */

.profil {
    background-image: url("../img/player.jpg");
    width: 250px;
    height: 250px;
    margin-left: 120px;
}


/* Skills Progresbar */

.progress-bar {
    color: black;
}


/* Media Querys */

@media only screen and (max-width: 600px) {
    .profil {
        margin-top: 20px;
        margin-left: 0px;
    }
    .vorschau {
        width: 100%;
        height: auto;
        color: white;
    }
}